project:
  type: website
  pre-render:
    - publications.r
  resources:
    - _headers

website:
  title: "MCU"
  description: "A data science blog and portfolio by Mickaël CANOUIL"
  favicon: /assets/images/logo.svg
  image: /assets/images/social-profile.png
  site-url: https://mickael.canouil.fr
  repo-url: https://github.com/mcanouil/mickael.canouil.fr
  repo-actions: [edit, issue]
  open-graph: true
  twitter-card: true
  page-navigation: true
  page-footer:
    border: true
    left: |
      Powered by [Quarto](https://quarto.org).
    center: |
      &copy; 2024 Mickaël CANOUIL. [{{< iconify fa6-regular heart >}} Sponsor](https://github.com/sponsors/mcanouil?o=esb).
    right: |
      License: [CC BY NC SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0).
  navbar:
    title: "MCU"
    search: true
    logo: assets/images/logo.svg
    right:
      - text: About
        href: index.qmd
      - text: Blog
        href: blog.qmd
      - text: Projects
        href: projects.qmd
      - text: Talks
        href: talks.qmd
      - text: Publications
        href: publications.qmd
      - text: "{{< iconify fa6-brands mastodon >}}"
        href: "https://fosstodon.org/@MickaelCanouil"
        rel: me
      - text: "{{< iconify fa6-brands twitter >}}"
        href: "https://twitter.com/MickaelCanouil"
      - text: "{{< iconify fa6-brands linkedin >}}"
        href: 'https://www.linkedin.com/in/mickaelcanouil'
      - text: "{{< iconify fa6-brands github >}}"
        href: "https://github.com/mcanouil"
      - text: "{{< iconify fa6-regular heart >}}"
        href: "https://github.com/sponsors/mcanouil?o=esb"

format:
  html:
    theme:
      - assets/stylesheets/coeos.scss
    lang: en
    date-format: 'dddd[, the] Do [of] MMMM, YYYY'
    highlight-style: github-dark
    code-copy: true
    code-link: true
    anchor-sections: true
    email-obfuscation: javascript
    link-external-newwindow: true
    fig-align: center
    code-tools:
      source: false
      toggle: false
      caption: none
    include-after-body:
      - text: |
          <script type="text/javascript">
          const dateElements = document.querySelectorAll("p.date, div.listing-date, div.listing-file-modified");
          dateElements.forEach((el) => {
            el.innerHTML = el.innerHTML.replace(
              /(\d+)(st|nd|rd|th)/g,
              "$1<sup style='font-size:0.5em;font-style:italic;'>$2</sup>"
            );
          });
          </script>

lightbox: auto

execute:
  freeze: true
