project:
  type: website
  pre-render:
    - publications.r
  resources:
    - _headers

website:
  title: "MCU"
  description: "A data science blog and portfolio by Mickaël CANOUIL"
  favicon: /assets/images/logo.svg
  image: /assets/images/social-profile.png
  site-url: https://mickael.canouil.fr
  repo-url: https://github.com/mcanouil/mickael.canouil.fr
  repo-actions: [edit, issue]
  open-graph: true
  twitter-card: true
  page-navigation: true
  back-to-top-navigation: true
  page-footer:
    border: true
    left: |
      Powered by [{{< iconify simple-icons:quarto title="Quarto Logo" label="Quarto Logo" >}} Quarto](https://quarto.org).
    center: |
      &copy; []{#current-year} Mickaël CANOUIL. [{{< iconify octicon:heart-fill-16 title="Heart" label="Heart" >}} Sponsor](https://github.com/sponsors/mcanouil?o=esb).
    right: |
      License: [CC BY NC SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0).
  navbar:
    title: "MCU"
    search: true
    background: dark
    logo: assets/images/logo.svg
    logo-alt: "Mickaël CANOUIL logo"
    right:
      - text: About
        href: index.qmd
      - text: Blog
        href: blog.qmd
      - text: Projects
        href: projects.qmd
      - text: Talks
        href: talks.qmd
      - text: Publications
        href: publications.qmd
      - text: '{{< iconify fa7-brands:bluesky title="BlueSky" label="BlueSky" >}}'
        href: "https://bsky.app/profile/mickael.canouil.fr"
      - text: '{{< iconify fa7-brands:linkedin title="LinkedIn" label="LinkedIn" >}}'
        href: 'https://www.linkedin.com/in/mickaelcanouil'
      - text: '{{< iconify fa7-brands:mastodon title="Mastodon" label="Mastodon" >}}'
        href: "https://fosstodon.org/@MickaelCanouil"
        rel: me
      - text: '{{< iconify fa7-brands:x-twitter title="X" label="X" >}}'
        href: "https://x.com/MickaelCanouil"
      - text: '{{< iconify octicon:mark-github-16 title="GitHub" label="GitHub" >}}'
        href: "https://github.com/mcanouil"
      - text: '{{< iconify octicon:heart-fill-16 title="GitHub Sponsor" label="GitHub Sponsor" >}}'
        href: "https://github.com/sponsors/mcanouil?o=esb"

format:
  html: 
    grid:
      body-width: 1000px
    theme:
      light:
        - cosmo
        - assets/stylesheets/projects.scss
        - brand
        - assets/stylesheets/modern.scss
      dark:
        - cosmo
        - assets/stylesheets/projects.scss
        - brand
        - assets/stylesheets/modern.scss
    lang: en-GB
    date-format: 'dddd[, the] Do [of] MMMM, YYYY'
    highlight-style: github
    code-copy: true
    code-link: true
    code-overflow: wrap
    anchor-sections: true
    email-obfuscation: javascript
    link-external-newwindow: true
    fig-align: center
    code-tools:
      source: false
      toggle: false
      caption: none
    include-after-body:
      - file: assets/scripts/ordinal-dates.html
      - file: assets/scripts/current-year.html
      - file: assets/scripts/categories-alphabetical.html
      - file: assets/scripts/modal-clipboardjs.html
      - text: |
          <script>
            document.querySelectorAll('header#title-block-header div, header#title-block-header p').forEach(function(el) {
              if (!el.textContent.trim()) {
                el.style.display = 'none';
                el.textContent = "";
              }
            });
          </script>

lightbox: auto

execute:
  freeze: true
