/*-- scss:defaults --*/
$primary: #fafafa !default;
$secondary: #333333 !default;
$body-bg: $secondary !default;
$body-color: $primary !default;
$link-color: #afafaf !default;
$link-hover-color: $primary !default;
$component-active-color: $primary !default;
$medium: #303030 !default;
$card-color: $body-color !default;
$card-bg: $body-bg !default;
$card-border-color: $body-color !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: $body-color;
}

a {
  transition: all .35s ease;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
}

code {
  color: $body-bg;
  background-color: $body-color;
}

p code:not(.sourceCode), li code:not(.sourceCode) {
  background-color: $body-color;
}

// code span {
//   color: $body-bg;
// }

img.about-image {
  border-radius: 50%;
  border-style: solid;
  border-width: 2pt;
  border-color: $primary;
  padding: 5pt;
}

img.about-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $primary;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

img.about-image:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px $primary;
}

img.about-image:hover {
  color: $primary;
  box-shadow: 0 0 10px $primary;
  text-shadow: 0 0 10px $primary;
}

.about-entity #title-block-header.quarto-title-block.default .quarto-title .title:hover {
  color: $primary;
  text-shadow: 0 0 10px $primary;
}

div.quarto-about-solana .about-entity .about-link {
  font-size: 1.5em;
  border-style: none;
  transition: all .35s ease;
}

// div.quarto-about-solana .about-entity .about-link:hover {
//   font-size: 2em;
//   border-style: none;
// }

@media(max-width: 991.98px){
  div.quarto-about-solana .about-entity .about-links {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-footer-center {
  min-height: unset;
}

.navbar-logo {
  max-height: 2em;
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: $medium;
  border-bottom: 1px solid #5a5b5a;
}

.navbar-nav {
  a.nav-link,
  a.nav-link:after,
  a.nav-link:before {
    transition: all .75s;
  }
  a.nav-link {
    position: relative;
  }
  a.nav-link:hover:after {
    width: 80%;
  }
  a.nav-link.active:after {
    border-top: .2em solid $component-active-color;
  }
  a.nav-link.active:hover:after {
    border-top: .2em solid $component-active-color;
  }
  a.nav-link:hover:after {
    border-top: .1em solid $component-active-color;
  }
  a.nav-link:after {
    border-top: .1em solid $component-active-color;
  }
  a.nav-link:after {
    position: absolute;
    border-top: .1em solid $nav-link-disabled-color;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
  }
  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    font-weight: bolder;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $component-active-color;
  }
}

.navbar-dark {
  .navbar-nav {
    .show>.nav-link,
    .active>.nav-link,
    .nav-link.active {
      color: $component-active-color;
    }
    .nav-link:hover,
    .nav-link:focus {
      color: $component-active-color;
    }
  }
}

.navbar-title {
  transition: all .35s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid $component-active-color;
  border-right: 3px solid $component-active-color;
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid $component-active-color;
  border-left: 3px solid $component-active-color;
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: $component-active-color;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: $component-active-color;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color;
  background: $medium;
}

.listing-description {
  color: $link-color;
}

// div.sourceCode {
//   background-color: $body-color;
//   border: 1px solid rgba(247,247,249,.65);
// }

div.quarto-post .listing-categories .listing-category {
  color: $link-color;
  border: solid 1px $body-color;
}

.page-item.active .page-link,
.page-link:hover {
  color: $body-bg;
}

.page-item.disabled .page-link {
  color: $body-color;
}

.hcenter {
  text-align: center;
}

.nav-tabs {
  .nav-link.active, .nav-item.show .nav-link {
    color: $primary;
    background-color: $secondary;
    border-color: $primary;
  }
  .nav-link, .nav-pills .nav-link {
    color: $primary;
  }

  border-bottom: 1px solid $primary;
}
