/* css styles */

.nav-footer-center {
  min-height: unset;
}

.navbar-logo {
  max-height: 2em;
}

img.about-image {
  border-radius: 50%;
  border-style: solid;
  border-width: 2pt;
  border-color: var(--bs-primary);
  padding: 5pt;
}

img.about-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--bs-primary);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

img.about-image:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px var(--bs-primary);
}

img.about-image:hover {
  color: var(--bs-primary);
  box-shadow: 0 0 10px var(--bs-primary);
  text-shadow: 0 0 10px var(--bs-primary);
}

.about-entity #title-block-header.quarto-title-block.default .quarto-title .title:hover {
  color: var(--bs-primary);
  text-shadow: 0 0 10px var(--bs-primary);
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .75s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  border-top: .1em solid var(--bs-dark);
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
}

.navbar-dark .navbar-nav a.nav-link:after {
  border-top: .1em solid var(--bs-light);
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.navbar-nav a.nav-link.active:after {
  border-top: .2em solid var(--bs-dark);
}
.navbar-nav a.nav-link.active:hover:after {
  border-top: .2em solid var(--bs-dark);
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active {
  font-weight: bolder;
}

a {
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
}

.navbar-title {
  transition: all .35s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid var(--bs-light);
  border-right: 3px solid var(--bs-light);
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--bs-light);
  border-left: 3px solid var(--bs-light);
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: var(--bs-light);
}
