/* css styles */

.nav-footer-center {
  min-height: unset;
}

.quarto-about-solana .about-entity .round {
  border-radius: 50%;
  border-style: solid;
  border-width: 2pt;
  border-color: var(--bs-primary);
  padding: 5pt;
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .75s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  border-top: .1em solid var(--bs-dark);
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
}

.navbar-dark .navbar-nav a.nav-link:after {
  border-top: .1em solid var(--bs-light);
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.navbar-nav a.nav-link.active:after {
  border-top: .2em solid var(--bs-dark);
}
.navbar-nav a.nav-link.active:hover:after {
  border-top: .2em solid var(--bs-dark);
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active {
  font-weight: bolder;
}
