/* css styles */

.nav-footer-center {
  min-height: unset;
}

div.quarto-about-solana .about-entity img.round {
  border-radius: 50%;
  border-style: solid;
  border-width: 2pt;
  border-color: var(--bs-primary);
  padding: 5pt;
}
