:root {
  --dark: #333333;
  --medium: #afafaf;
  --light: #fafafa;
}

html {
	scroll-behavior: smooth;
}

html, body {
  scroll-padding-top: 70px;
}

@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

pre, code {
  font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;
  font-size: 60%;
}

.avatar-circle {
  border-style: solid;
  border-width: 2pt;
  border-color: var(--light);
  border-radius: 50%;
  padding: 5pt;
}

.author-card .avatar {
  width: 125px;
  height: 125px;
}

body.dark, .dark .docs-toc-link, .dark .modal button.close, .dark input {
  color: var(--light);
  background: var(--dark); 
}

.dark .site-footer a {
  color: var(--light);
}

.powered-by {
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.footer-license-icons {
  margin-bottom: 1em;
}

.footer-license-icons i {
  margin-right: 0;
}

a, h3.article-title a:hover {
  color: var(--light);
  text-decoration: none;
  transition: color 0.6s ease; }

a:hover, a:focus {
  color: var(--medium);
}

.dark a, .dark h3.article-title a:hover {
  color: var(--medium);
}

.dark a:not(.btn):hover, .dark a:not(.btn):focus {
  color: var(--light);
}

.network-icon a,  .network-icon h3.article-title a:hover {
  color: var(--medium);
  text-decoration: none;
  transition: color 0.6s ease; }

 .network-icon a:hover,  .network-icon a:focus {
  color: var(--light);
}

.dark .network-icon a, .dark h3.article-title .network-icon a:hover {
  color: var(--light);
}

.dark .network-icon a:not(.btn):hover, .dark .network-icon a:not(.btn):focus {
  color: var(--medium);
}

.navbar, .dark .navbar {
  background: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
	letter-spacing: 0.1em;
}

.dark .card, .dark .card-simple {
  background: var(--dark);
  border: 1px solid var(--light);
  box-shadow: none;
}

.dark pre, .dark code {
  color: var(--dark);
  background-color: var(--light);
  border-radius: 3px;
  padding: 4px;
}

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .5s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--light);
  height: 2px;
}

.nav-icons a.nav-link:after {
  background: none;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.btn-toolbar {
  justify-content: center;
}

.btn.btn-sm, .btn-group-sm > .btn {
  border-radius: 0rem;
  font-size: 0.8rem;
}

.btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px;
  font-size: 0.8rem;
}

.btn {
  text-transform: lowercase;
  font-style: italic;
  border-radius: 0px;
}

.btn-toolbar .btn:first-child {
  border-radius: 0px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0px;
}

.btn-toolbar .btn.btn-primary:active, .btn-toolbar .btn.btn-primary.active {
  background-color: var(--dark) !important;
  color: var(--light);
  border: 1px solid var(--light);
  font-weight: 700;
}

.wg-hero.dark .btn-light {
  text-transform: none;
  color: var(--dark);
  background-color: var(--light);
}

.wg-hero.dark a.btn.btn-light:hover {
  text-transform: none;
  color: var(--dark);
  background-color: var(--medium);
}

.article-metadata .author-highlighted {
  text-decoration: underline;
}

.article-container {
  max-width: 960px;
}

.article-container .article-style, .pub-list-item, .pub-abstract {
  text-align: justify;
  text-justify: inter-word;
}

#TableOfContents li a, .toc-top li a {
	padding: .125rem .5rem;
	color: var(--light);
}

#TableOfContents li a {
  font-size: .75rem;
}

.toc-top li a {
  font-size: 1rem;
}

#TableOfContents ul {
  margin-bottom: 0;
}

#TableOfContents .active {
  /*text-decoration: underline;*/
  color: var(--light);
}

#TableOfContents, .docs-toc-title {
	border-left: 1px solid var(--light);
}

.search-header {
  width: 80%;
  margin: auto;
}
