:root {
  --dark: #333333;
  --medium: #afafaf;
  --light: #fafafa;
}

html {
	scroll-behavior: smooth;
}

html, body {
  scroll-padding-top: 70px;
}

.avatar-circle {
  border-style: solid;
  border-width: 2pt;
  border-color: var(--light);
  border-radius: 50%;
  padding: 5pt;
}

.author-card .avatar {
  width: 125px;
  height: 125px;
}

body.dark, .dark .docs-toc-link, .dark .modal button.close, .dark input {
  color: var(--light);
  background: var(--dark); 
}

.dark .site-footer a {
  color: var(--light);
}

.powered-by {
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.footer-license-icons {
  margin-bottom: 1em;
}

.footer-license-icons i {
  margin-right: 0;
}

a, h3.article-title a:hover {
  color: var(--light);
  text-decoration: none;
  transition: color 0.6s ease; }

a:hover, a:focus {
  color: var(--medium);
}

.dark a, .dark h3.article-title a:hover {
  color: var(--medium);
}

.dark a:not(.btn):hover, .dark a:not(.btn):focus {
  color: var(--light);
}

 .network-icon a,  .network-icon h3.article-title a:hover {
  color: var(--medium);
  text-decoration: none;
  transition: color 0.6s ease; }

 .network-icon a:hover,  .network-icon a:focus {
  color: var(--light);
}

.dark .network-icon a, .dark h3.article-title .network-icon a:hover {
  color: var(--light);
}

.dark .network-icon a:not(.btn):hover, .dark .network-icon a:not(.btn):focus {
  color: var(--medium);
}

.navbar, .dark .navbar {
  background: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
	letter-spacing: 0.1em;
}

.dark .card, .dark .card-simple {
  background: var(--dark);
  border: 1px solid var(--light);
  box-shadow: none;
}

.dark pre, .dark code {
  color: var(--dark);
  background-color: var(--light);
  border-radius: 3px;
  padding: 4px;
}

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .5s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: var(--light);
  height: 2px;
}

.nav-icons a.nav-link:after {
  background: none;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.btn-toolbar {
  justify-content: center;
}

.btn.btn-sm, .btn-group-sm > .btn {
  border-radius: 0rem; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn {
  /*font-family: Lora;*/
  text-transform: lowercase;
  font-style: italic;
  border-radius: 0px;
}

.btn-toolbar .btn:first-child {
  border-radius: 0px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0px;
}

.btn-toolbar .btn.btn-primary:active, .btn-toolbar .btn.btn-primary.active {
  background-color: var(--dark) !important;
  color: var(--light);
  border: 1px solid var(--light);
  font-weight: 700;
}
