:root {
  --dark: #333333;
  --medium: #afafaf;
  --light: #fafafa;
}

.avatar-circle {
  border-style: solid;
  border-width: 2pt;
  border-color: var(--light);
  border-radius: 50%;
  padding: 5pt;
}

body.dark, .dark .docs-toc-link, .dark .modal button.close, .dark input {
  color: var(--light);
  background: var(--dark); 
}

a, h3.article-title a:hover {
  color: var(--light);
  text-decoration: none;
  transition: color 0.6s ease; }

a:hover, a:focus {
  color: var(--medium);
}

.dark a, .dark h3.article-title a:hover {
  color: var(--medium);
}

.dark a:not(.btn):hover, .dark a:not(.btn):focus {
  color: var(--light);
}

.navbar, .dark .navbar {
  background: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
	letter-spacing: 0.1em;
}

.dark .card, .dark .card-simple {
  background: var(--dark);
  border: 1px solid var(--light);
  box-shadow: none;
}

.dark pre, .dark code {
  color: var(--dark);
  background-color: var(--light);
  border-radius: 3px;
  padding: 4px;
}
