/*-- scss:defaults --*/

$theme: "coeos" !default;

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #adafae !default;
$gray-500: #888 !default;
$gray-600: #555 !default;
$gray-700: #282828 !default;
$gray-800: #222 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #2a9fd6 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #c00 !default;
$orange: #fd7e14 !default;
$yellow: #f80 !default;
$green: #77b300 !default;
$teal: #20c997 !default;
$cyan: #93c !default;

$primary: #fafafa !default;
$secondary: #333333 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

$min-contrast-ratio: 2.25 !default;


// Body

@function body-mix($weight) {
  @return mix($body-bg, $body-color, $weight);
}

// $body-bg: body-mix(100%) !default;
// $body-color: body-mix(0%) !default;
$body-bg: $secondary !default;
$body-color: $primary !default;

$light: $body-color !default;
$dark: $body-bg !default;

$contrast-bg: color-contrast($body-bg) !default;

$link-color: $body-color !default;

// Fonts

$font-family-sans-serif: "Alegreya Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$h1-font-size: 4rem !default;
$h2-font-size: 3rem !default;
$h3-font-size: 2.5rem !default;
$h4-font-size: 2rem !default;
$h5-font-size: 1.5rem !default;
$headings-color: $white !default;

// Tables

$table-color: $contrast-bg !default;
$table-accent-bg: rgba($contrast-bg, .05) !default;
$table-hover-bg: rgba($contrast-bg, .075) !default;
$table-border-color: body-mix(50%) !default;
$table-dark-bg: body-mix(16%) !default;
$table-dark-border-color: body-mix(23%) !default;

$table-bg-scale: 0 !default;

// Buttons

$input-btn-padding-x: 1rem !default;

// Forms

$input-bg: $body-color !default;
$input-disabled-bg: $body-color !default;

$input-color: body-mix(97.5%) !default;
$input-border-color: $contrast-bg !default;
$input-border-width: 0 !default;

$input-group-addon-color: $contrast-bg !default;
$input-group-addon-bg: body-mix(50%) !default;
$input-group-addon-border-color: transparent !default;

$form-check-input-bg: $contrast-bg !default;
$form-check-input-border: none !default;

$form-file-button-color: $contrast-bg !default;

// Dropdowns

$dropdown-bg: body-mix(50%) !default;
$dropdown-divider-bg: body-mix(67%) !default;
$dropdown-link-color: $contrast-bg !default;
$dropdown-link-hover-color: $contrast-bg !default;
$dropdown-link-hover-bg: $primary !default;

// Navs

$nav-tabs-border-color: $table-border-color !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $contrast-bg !default;
$nav-tabs-link-active-bg: $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-dark-hover-color: $contrast-bg !default;

// Pagination

$pagination-color: $contrast-bg !default;
$pagination-bg: body-mix(97.5%) !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: $contrast-bg !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-bg: $pagination-bg !default;
$pagination-disabled-border-color: $pagination-border-color !default;

// Cards

$card-color: $body-color !default;
$card-bg: $body-bg !default;
$card-border-color: $body-color !default;

// Tooltips

$tooltip-bg: body-mix(50%) !default;
$tooltip-opacity: 1 !default;

// Popovers

$popover-bg: body-mix(50%) !default;

// Toasts

$toast-color: $contrast-bg !default;
$toast-background-color: body-mix(67%) !default;
$toast-border-color: body-mix(50%) !default;
$toast-header-color: $body-color !default;
$toast-header-background-color: $toast-background-color !default;
$toast-header-border-color: $toast-border-color !default;

// Modals

$modal-content-bg: body-mix(67%) !default;
$modal-header-border-color: body-mix(50%) !default;

// Progress bars

$progress-bg: body-mix(50%) !default;

// List group

$list-group-color: $contrast-bg !default;
$list-group-bg: body-mix(67%) !default;
$list-group-border-color: body-mix(50%) !default;
$list-group-hover-bg: $primary !default;
$list-group-disabled-bg: body-mix(50%) !default;
$list-group-action-color: $contrast-bg !default;
$list-group-action-active-bg: $primary !default;

// Breadcrumbs

$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-bg: body-mix(50%) !default;
$breadcrumb-border-radius: .25rem !default;

// Close

$btn-close-color: $contrast-bg !default;
$btn-close-opacity: .6 !default;
$btn-close-hover-opacity: 1 !default;

// Code

$pre-color: inherit !default;

/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css?family=Alegreya+Sans:wght@300,300i,400,400i,500,500i,700,700i&display=swap" !default;

@if $web-font-path {
  @import url($web-font-path);
}

:root {
  color-scheme: dark;
}

// Navbar

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: $body-bg;
  border-bottom: 1px solid body-mix(50%);

  &.bg-primary {
    border: 1px solid body-mix(50%);
  }

  &.bg-dark {
    background-color: $body-bg !important;
    border: 1px solid body-mix(50%);
  }

  &.bg-light {
    background-color: body-mix(16%) !important;
  }

  &.fixed-top {
    border-width: 0 0 1px;
  }

  &.fixed-bottom {
    border-width: 1px 0 0;
  }
}

.nav-footer-center {
  min-height: unset;

  p,
  ol,
  ul,
  dl {
    margin-bottom: 0;
  }

  .toc-actions {

    ol,
    ul {
      padding-left: 0;
    }
  }
}

.nav-footer {
  border-top: 1px solid body-mix(50%);
}

.nav-footer a:hover {
  color: $body-color;
}

.navbar-logo {
  max-height: 2em;
}

.navbar-nav {

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    color: $body-color;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $body-color;
  }

  .nav-link {
    color: body-mix(50%);
  }

  a.nav-link,
  a.nav-link:after,
  a.nav-link:before {
    transition: all .75s;
  }

  a.nav-link {
    position: relative;
  }

  a.nav-link:hover:after {
    width: 80%;
  }

  a.nav-link.active:after,
  a.nav-link.active:hover:after {
    border-top: .2em solid $body-color;
  }

  a.nav-link:hover:after,
  a.nav-link:after {
    border-top: .1em solid $body-color;
  }

  a.nav-link:after {
    position: absolute;
    border-top: .1em solid body-mix(90%);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
  }

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    font-weight: bolder;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $body-color;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg {

    a.nav-link.active:after,
    a.nav-link.active:hover:after,
    a.nav-link:hover:after,
    a.nav-link:after {
      border-top: 0 solid $body-color;
    }
  }
}

.navbar-brand {
  color: $body-color;
}

.nav-tabs {

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $body-color;
    background-color: $body-bg;
    border-color: $body-color;
  }

  .nav-link,
  .nav-pills .nav-link {
    color: $body-color;
  }

  border-bottom: 1px solid $body-color;
}

.navbar-title {
  transition: all .35s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid $body-color;
  border-right: 3px solid $body-color;
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid $body-color;
  border-left: 3px solid $body-color;
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: $body-color;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: $body-color;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color;
  background: body-mix(99%);
}

// Buttons

.btn {

  @each $color,
  $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($contrast-bg, $value, 15%), $value) repeat-x;
      }

      @else {
        background-color: $value;
      }
    }
  }
}

// Forms

legend {
  color: $contrast-bg;
}

.form-control {
  background-clip: border-box;

  &:disabled,
  &[readonly] {
    border-color: transparent;
  }
}

// Navs

.nav-tabs,
.nav-pills {
  .nav-link {
    color: $contrast-bg;

    &:hover {
      background-color: body-mix(50%);
    }

    &.disabled,
    &.disabled:hover {
      color: body-mix(90%);
      background-color: transparent;
    }

    &.active {
      color: $body-bg;
      background-color: $body-color;
    }
  }
}

.breadcrumb {
  a {
    color: $contrast-bg;
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.alert {
  color: $contrast-bg;
  border: none;

  a,
  .alert-link {
    color: $contrast-bg;
    text-decoration: underline;
  }

  @each $color,
  $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($contrast-bg, $value, 15%), $value) repeat-x;
      }

      @else {
        background-color: $value;
      }
    }
  }
}

.badge {
  &.bg-dark {
    color: $gray-900;
  }
}

// Containers

.list-group-item-action {
  &:hover {
    border-color: $body-color;
  }
}

.popover {
  &-title {
    border-bottom: none;
  }
}

// Links

a {
  transition: all .35s ease;
  text-decoration: underline;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
}


// About

img.about-image {
  border-radius: 50%;
  border-style: solid;
  border-width: 2pt;
  border-color: $body-color;
  padding: 5pt;
}

img.about-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $body-color;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

img.about-image:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px $body-color;
}

img.about-image:hover {
  color: $body-color;
  box-shadow: 0 0 10px $body-color;
  text-shadow: 0 0 10px $body-color;
}

.about-entity #title-block-header.quarto-title-block.default .quarto-title .title:hover {
  color: $body-color;
  text-shadow: 0 0 10px $body-color;
}

div.quarto-about-solana .about-entity .about-link {
  font-size: 1.5em;
  border-style: none;
  transition: all .35s ease;
}

div.quarto-about-solana .about-entity .about-link:hover {
  transform: scale(1.25);
}

div.quarto-about-solana .about-entity .about-links {
  column-gap: 0;
}

@media(max-width: 991.98px) {
  div.quarto-about-solana .about-entity .about-links {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.hcenter {
  text-align: center;
}

// Listing

.listing-description {
  color: $body-color;
}

div.quarto-post .listing-categories .listing-category {
  border: solid 1px $body-color;
}

.quarto-grid-item .listing-categories .listing-category:hover {
  color: $body-color;
}

div.quarto-post .listing-categories .listing-category:hover {
  color: $body-color;
}

.quarto-listing-category .category {
  text-transform: uppercase;
}

.quarto-listing-category .category:hover {
  color: $body-color;
  font-weight: bold;
}

.page-item.active .page-link,
.page-link:hover {
  color: $body-bg;
}

.page-item.disabled .page-link {
  color: $body-color;
}

// Code

code,
a>code {
  color: $body-bg;
  background-color: $body-color;
}

p code:not(.sourceCode),
li code:not(.sourceCode) {
  background-color: $body-color;
}

div.sourceCode {
  background-color: body-mix(97.5%);
  border: 1px solid body-mix(97.5%);
  border-radius: .25rem;
}

nav p code:not(.sourceCode), nav li code:not(.sourceCode), nav td code:not(.sourceCode) {
  background-color: $body-color;
}

// Code annotation gutter

.code-annotation-gutter {
  background-color: body-mix(97.5%);
}

#quarto-back-to-top {
  z-index: 100; /* Make sure it's above everything else */
  color: $body-color;
}
