/*-- scss:defaults --*/

/*-- scss:rules --*/
.projects {
  flex: 0 50%;
  background: $dark;
  box-shadow: 0 2px 4px 0 rgba($gray-700, 0.2), 0 5px 15px 0 rgba($gray-300, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;

  .card-body {
    padding: 0 var(--bs-card-spacer-x);
  }

  .card-footer {
    background-color: $dark;
    border-top: var(--bs-card-border-width) solid var(--bs-gray);
  }

  p {
    margin: 0;
  }

  h5.card-title:hover {
    text-decoration: underline;
  }

  .listing-date {
    font-style: italic;
    margin-left: auto;
  }
}

#projects-pagination {
  padding-top: 1.5em;
}
