/*-- scss:defaults --*/
$primary: #fafafa !default;
$secondary: #333333 !default;
$body-bg: $secondary !default;
$body-color: $primary !default;
$link-color: #afafaf !default;
$link-hover-color: $primary !default;
$component-active-color: $primary !default;
$medium: #303030 !default;
$card-color: $body-color !default;
$card-bg: $body-bg !default;
$card-border-color: $body-color !default;




.listing-description {
  color: $link-color;
}

// div.sourceCode {
//   background-color: $body-color;
//   border: 1px solid rgba(247,247,249,.65);
// }

div.quarto-post .listing-categories .listing-category {
  color: $link-color;
  border: solid 1px $body-color;
}
