name: Quarto Render

on:
  push:
    branches:
      - main
    paths-ignore:
      - "_site/**"
      - "_freeze/**"
      - ".github/**"
  pull_request:
    branches:
      - main
  issue_comment:
    types: [created]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  quarto-render:
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' || (github.event.issue.pull_request && startsWith(github.event.comment.body, '/render')) }}
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/quarto
        with:
          version: pre-release
          token: ${{ secrets.GITHUB_TOKEN }}
          packages:
            any::knitr
            any::rmarkdown
            any::downlit
            any::xml2
            any::webshot2
